# ===== IDE 관련 =====
*.class
*.log
*.iml
/.idea/
/.vscode/

# ===== Maven / Gradle / 빌드 관련 =====
/target/
/build/

# ===== DB, 환경 설정 =====
*.properties
*.env
*.db

# ===== 톰캣 / 서버 관련 =====
/logs/
/work/
/temp/
/*.war

# ===== 운영체제 관련 =====
.DS_Store
Thumbs.db

# ===== 기타 =====
*.jar